licaishi-server/front/.idea
licaishi-server/android/build
licaishi-server/android/app/build
licaishi-server/android/.gradle
licaishi-server/android/.idea
app.iml
licaishi-server/iOS/SFA/SFA.xcworkspace/xcuserdata/huangrongwei.xcuserdatad/UserInterfaceState.xcuserstate
licaishi-server/iOS/SFA/SFA.xcworkspace/xcuserdata/huangrongwei.xcuserdatad/UserInterfaceState.xcuserstate
licaishi-kehuduan/front/.idea
licaishi-kehuduan/front/node_modules
licaishi-kehuduan/front/dist
licaishi-kehuduan/android-cli/.idea

licaishi-kehuduan/front/.idea
licaishi-kehuduan/android-cli/build
licaishi-kehuduan/android-cli/app/build
licaishi-kehuduan/android-cli/.gradle
licaishi-kehuduan/android-cli/.idea
lcs-cli.tar.gz
