<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SFA.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>768C2C03202AE3A800F8ABB8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>768C2C17202AE3A900F8ABB8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>768C2C22202AE3A900F8ABB8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
